*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: none;
}

.nav__link, .top__arrow-link {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.center {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  background-color: #2F3132;
}

.nav .main__logo {
  display: block;
}

.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav__menu .nav__list {
  padding-left: 21px;
  padding-right: 21px;
}

.nav .nav__menu .nav__list:not(:last-of-type) {
  border-right: 1px solid #494949;
}

.nav .nav__menu .nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.nav .nav__menu .nav__link:hover {
  border-color: #FFFFFF;
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.title, .text {
  text-align: center;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 75px;
  color: #2F3132;
  background-color: #E0E1E2;
}

.top .top__img {
  position: relative;
}

.top .top__img .title {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top .text {
  margin-top: 8px;
}

.top .top__arrow-link {
  display: block;
  margin-top: 49px;
}

.top .top__arrow-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.without__wires {
  padding-top: 80px;
  padding-bottom: 69px;
  padding-left: calc(50% - 622px);
  padding-right: calc(50% - 622px);
  color: #2F3132;
  background-color: #EDEDED;
}

.without__wires-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.without__wires-content .title {
  margin: 35px 0;
}

.without__wires-content .text {
  max-width: 761px;
}

.without__wires-content .span__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 58px;
  padding-bottom: 118px;
  font-weight: 900;
  font-size: 300px;
  line-height: 262px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
}

.without__wires-content .span__text-style {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

.without__wires-content .mouse__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 44px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-41px);
          transform: translateX(-41px);
}
/*# sourceMappingURL=style.css.map */