*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #2F3132;
}

html, body {
  height: 100%;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: none;
}

.nav__link, .top__arrow-link, .label__switcher, .nav__drop, .drop__link,
.scroll__up, .scroll__arrow {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.center {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.title, .text {
  text-align: center;
}

.scroll__up {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  border-radius: 50%;
  background-color: #2F3132;
}

.scroll__up .scroll__arrow path {
  fill: #C4C4C4;
}

.scroll__up:hover {
  background-color: #C4C4C4;
}

.scroll__up:hover .scroll__arrow path {
  fill: #2F3132;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper__top {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  background-color: #2F3132;
}

.nav .nav__label {
  cursor: pointer;
}

.nav .transparent__box, .nav .media__logo, .nav .nav__label {
  display: none;
}

.nav .transparent__box {
  width: 61px;
  height: 71px;
}

.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav__menu .nav__list {
  padding-left: 21px;
  padding-right: 21px;
}

.nav .nav__menu .nav__list:not(:last-of-type) {
  border-right: 1px solid #494949;
}

.nav .nav__menu .nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.nav .nav__menu .nav__link:hover {
  border-color: #FFFFFF;
}

.nav .check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
}

.nav #check {
  position: absolute;
  visibility: hidden;
  left: -9999999px;
}

.nav #check:checked ~ .nav__drop {
  right: 0;
}

.nav .nav__drop {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: -100%;
  z-index: 1;
  padding: 45px 65px 141px;
  background-color: #2F3132;
}

.nav .nav__drop .drop__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__drop .drop__menu {
  margin-top: 123px;
}

.nav .nav__drop .drop__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.nav .nav__drop .drop__list:not(:last-child) {
  margin-bottom: 53px;
}

.nav .nav__drop .drop__link {
  padding: 6px 0;
  font-weight: 900;
  font-size: 40px;
  line-height: 47px;
  border-bottom: 1px solid transparent;
  color: #C4C4C4;
}

.nav .nav__drop .drop__link:hover {
  border-color: #FFFFFF;
  color: #FFFFFF;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 75px;
  background-color: #E0E1E2;
}

.top .top__img {
  position: relative;
}

.top .top__img .title {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top .text {
  margin-top: 8px;
}

.top .top__arrow-link {
  display: block;
  margin-top: 49px;
}

.top .top__arrow-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.without__wires {
  padding-top: 80px;
  padding-bottom: 69px;
  padding-left: calc(50% - 622px);
  padding-right: calc(50% - 622px);
  background-color: #EDEDED;
}

.without__wires-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.without__wires-content .title {
  margin: 35px 0;
}

.without__wires-content .text {
  max-width: 761px;
}

.without__wires-content .span__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 58px;
  padding-bottom: 118px;
  font-weight: 900;
  font-size: 300px;
  line-height: 262px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
}

.without__wires-content .span__text-style {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

.without__wires-content .mouse__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 44px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-41px);
          transform: translateX(-41px);
}

.anywhere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: calc( 50% - 640px);
  padding-right: calc( 50% - 640px);
}

.anywhere__up {
  max-width: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anywhere__up .text {
  margin-top: 35px;
}

.anywhere__img .tablet-wood {
  display: none;
}

.anywhere__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.anywhere__box .box {
  width: 236px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #2F3132;
}

.anywhere__box .text-span {
  text-align: center;
}

.anywhere__bottom {
  max-width: 765px;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anywhere__bottom .title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 13px;
}

.anywhere__bottom .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anywhere__bottom .form__radio .label__radio {
  cursor: pointer;
}

.anywhere__bottom .form__radio .input__radio {
  display: none;
}

.anywhere__bottom .form__radio .tap__img {
  border-radius: 50%;
}

.anywhere__bottom .text {
  margin-top: 32px;
}

.device {
  height: 1332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #EDEDED;
}

.device__content {
  max-width: 958px;
  position: absolute;
  top: 100px;
}

.device__content .text {
  margin-top: 35px;
  margin-bottom: 64px;
}

.device .device__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.device .device__menu .device__list {
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.device .device__menu .device__list:last-of-type {
  max-width: 145px;
}

.device__bg {
  margin-top: auto;
}

.settings {
  padding-top: 100px;
  padding-left: calc( 50% - 585px);
  padding-right: calc( 50% - 585px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDEDED;
}

.settings .media__options, .settings .settings__switch {
  display: none;
}

.settings__heading {
  width: 866px;
}

.settings__heading .text {
  margin-top: 30px;
  margin-bottom: 52px;
}

.settings .popular__app {
  max-width: 749px;
  height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  -webkit-transform: translateY(-71px);
          transform: translateY(-71px);
  color: #FFFFFF;
  background-color: #C4C4C4;
}

.settings .popular__app .app__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.settings .popular__app .text {
  margin-top: 25px;
}

.comfort-and-fast {
  padding-left: calc( 50% - 655px);
  padding-right: calc( 50% - 655px);
  padding-top: 100px;
  padding-bottom: 100px;
}

.comfort-and-fast__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comfort-and-fast__img {
  width: 50%;
}

.comfort-and-fast__heading {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 37px;
}

.comfort-and-fast__heading .title {
  width: 281px;
  margin-bottom: 28px;
}

.comfort-and-fast__heading .title, .comfort-and-fast__heading .text {
  text-align: left;
}

.comfort-and-fast .text {
  width: 400px;
}

.comfort-and-fast .comfort__right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.comfort-and-fast .comfort__right .comfort-and-fast__heading {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 31px;
}

.comfort-and-fast .comfort__right .title {
  width: 317px;
  margin-bottom: 34px;
}

.comfort-and-fast .comfort__right .title, .comfort-and-fast .comfort__right .text {
  text-align: right;
}

.footer {
  padding-top: 47px;
  padding-bottom: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 47px;
  color: #C7C8C8;
  background-color: #2F3132;
}

.footer .copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (max-width: 1280px) {
  .top {
    padding-top: 0;
    padding-bottom: 56px;
  }
  .without__wires {
    padding-top: 45px;
    padding-bottom: 48px;
  }
  .anywhere {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .device {
    height: 1088px;
  }
  .settings {
    padding-top: 70px;
  }
  .comfort-and-fast {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 894px) {
  .nav {
    height: auto;
    padding: 54px 58px 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #E0E1E2;
  }
  .nav .logo, .nav .nav__menu {
    display: none;
  }
  .nav .media__logo, .nav .transparent__box {
    display: block;
  }
  .nav .nav__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .nav .nav__drop .logo {
    display: block;
    width: 240px;
    height: 72px;
  }
  .top .top__img .title {
    top: 0;
  }
  .top .text {
    margin-top: 120px;
  }
  .without__wires {
    padding: 80px 19px 0 39px;
  }
  .without__wires .without__wires-content .text {
    max-width: 655px;
  }
  .without__wires .without__wires-content .span__text, .without__wires .without__wires-content .span__text-style {
    font-size: 150px;
    line-height: 176px;
    padding-bottom: 0;
  }
  .without__wires .without__wires-content .mouse__img {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .without__wires .without__wires-content .mouse__img-left {
    display: none;
  }
  .without__wires .without__wires-content .mouse__img-left img {
    width: 836px;
  }
  .anywhere {
    padding-bottom: 61px;
  }
  .anywhere .anywhere__up .text {
    max-width: 590px;
  }
  .anywhere .anywhere__img .full-wood {
    display: none;
  }
  .anywhere .anywhere__img .tablet-wood {
    display: block;
  }
  .device .device__content {
    max-width: 765px;
  }
  .device .device__menu .device__list {
    max-width: 274px;
  }
  .settings {
    padding: 70px 64px 80px;
  }
  .settings .settings__heading, .settings .popular__app {
    width: 100%;
  }
  .settings .options {
    display: none;
  }
  .settings .media__options, .settings .settings__switch {
    display: block;
  }
  .settings .popular__app {
    max-width: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .settings .settings__switch {
    margin-top: 53px;
    margin-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
  }
  .settings .settings__switch .settings__input {
    display: none;
  }
  .settings .settings__switch .settings__input:checked + .label__switcher {
    background-color: #2F3132;
  }
  .settings .settings__switch .label__switcher {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #C4C4C4;
  }
  .comfort-and-fast .comfort-and-fast__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__img {
    width: 100%;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__img .comfort__img {
    width: 100%;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__heading {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 65px 50px;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__heading .title, .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__heading .text {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 667px) {
  .title {
    font-size: 20px;
    line-height: 23px;
  }
  .text {
    font-size: 14px;
    line-height: 16px;
  }
  .scroll__up {
    width: 40px;
    height: 40px;
  }
  .scroll__up .scroll__arrow {
    width: 25px;
    height: 13px;
  }
  .nav {
    padding: 25px 29px 94px;
  }
  .nav .transparent__box {
    width: 30px;
    height: 30px;
  }
  .nav .media__logo {
    width: 130px;
    height: 39px;
  }
  .nav .nav__label svg {
    width: 30px;
    height: 16px;
  }
  .nav .nav__drop {
    padding: 14px 15px 208px;
  }
  .nav .nav__drop .transparent__box {
    width: 30px;
    height: 30px;
  }
  .nav .nav__drop .logo {
    display: block;
    height: 100%;
  }
  .nav .nav__drop .check svg {
    width: 30px;
    height: 30px;
  }
  .nav .nav__drop .drop__menu {
    margin-top: 148px;
  }
  .nav .nav__drop .drop__list:not(:last-child) {
    margin-bottom: 32px;
  }
  .nav .nav__drop .drop__link {
    font-size: 20px;
    line-height: 23px;
  }
  .top .text {
    margin-top: 67px;
  }
  .top .top__arrow-link {
    margin-top: 40px;
  }
  .top .top__arrow-link svg {
    width: 39px;
    height: 20px;
  }
  .without__wires {
    padding: 42px 0 18px;
  }
  .without__wires .without__wires-content .title {
    margin-top: 27px;
    margin-bottom: 20px;
  }
  .without__wires .without__wires-content .span__text {
    padding-top: 31px;
    gap: 20px;
  }
  .without__wires .without__wires-content .span__text, .without__wires .without__wires-content .span__text-style {
    font-size: 60px;
    line-height: 70px;
  }
  .anywhere .anywhere__up .text {
    margin-top: 20px;
  }
  .anywhere .anywhere__up .anywhere__box {
    margin-top: 30px;
    margin-bottom: 28px;
    gap: 6px;
  }
  .anywhere .anywhere__up .anywhere__box .box {
    width: 166px;
    height: 94px;
  }
  .anywhere .anywhere__up .anywhere__box .text-span {
    font-size: 14px;
    line-height: 16px;
  }
  .anywhere .anywhere__bottom .form__radio {
    gap: 18px;
  }
  .anywhere .anywhere__bottom .label__radio svg {
    width: 9px;
    height: 18px;
  }
  .anywhere .anywhere__bottom .label__radio .tap__img {
    width: 34px;
    height: 34px;
  }
  .device {
    height: 718px;
  }
  .device .device__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 28px;
    padding-right: 28px;
    top: 70px;
  }
  .device .device__content .text {
    margin-top: 20px;
    margin-bottom: 36px;
  }
  .device .device__menu {
    width: 220px;
    padding-left: 26px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 14px;
    line-height: 16px;
  }
  .device .device__menu svg {
    display: none;
  }
  .device .device__menu .device__list:not(:last-child) {
    margin-bottom: 16px;
  }
  .settings {
    padding: 70px 0 0;
  }
  .settings .settings__heading {
    padding: 0 34px;
  }
  .settings .settings__img {
    padding: 0 23px;
  }
  .settings .settings__switch {
    gap: 15px;
  }
  .settings .settings__switch .label__switcher {
    width: 15px;
    height: 15px;
  }
  .settings .popular__app .app__icons {
    gap: 22px;
  }
  .settings .popular__app .app__icons svg, .settings .popular__app .app__icons img {
    height: 22px;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__heading {
    padding: 70px 34px 20px;
  }
  .footer {
    padding-top: 22px;
    padding-bottom: 37px;
  }
  .footer .copyright {
    font-size: 7px;
    line-height: 8px;
  }
}
/*# sourceMappingURL=style.css.map */