*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #2F3132;
}

svg {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  outline: none;
}

.nav__link, .top__arrow-link, .label__switcher {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.center {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
}

.title, .text {
  text-align: center;
}

.nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFFFF;
  background-color: #2F3132;
}

.nav .transparent__box, .nav .media__logo, .nav .nav__menu-box {
  display: none;
}

.nav .transparent__box {
  width: 82px;
  height: 73px;
}

.nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav__menu .nav__list {
  padding-left: 21px;
  padding-right: 21px;
}

.nav .nav__menu .nav__list:not(:last-of-type) {
  border-right: 1px solid #494949;
}

.nav .nav__menu .nav__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
}

.nav .nav__menu .nav__link:hover {
  border-color: #FFFFFF;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 75px;
  background-color: #E0E1E2;
}

.top .top__img {
  position: relative;
}

.top .top__img .title {
  width: 100%;
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.top .text {
  margin-top: 8px;
}

.top .top__arrow-link {
  display: block;
  margin-top: 49px;
}

.top .top__arrow-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.without__wires {
  padding-top: 80px;
  padding-bottom: 69px;
  padding-left: calc(50% - 622px);
  padding-right: calc(50% - 622px);
  background-color: #EDEDED;
}

.without__wires-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.without__wires-content .title {
  margin: 35px 0;
}

.without__wires-content .text {
  max-width: 761px;
}

.without__wires-content .span__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 58px;
  padding-bottom: 118px;
  font-weight: 900;
  font-size: 300px;
  line-height: 262px;
  text-align: center;
  text-transform: uppercase;
  color: #C4C4C4;
}

.without__wires-content .span__text-style {
  font-weight: 900;
  font-size: 96px;
  line-height: 112px;
}

.without__wires-content .mouse__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 44px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-41px);
          transform: translateX(-41px);
}

.anywhere {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: calc( 50% - 640px);
  padding-right: calc( 50% - 640px);
}

.anywhere__up {
  max-width: 765px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anywhere__up .text {
  margin-top: 35px;
}

.anywhere__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.anywhere__box .box {
  width: 236px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #2F3132;
}

.anywhere__box .text-span {
  text-align: center;
}

.anywhere__bottom {
  max-width: 765px;
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anywhere__bottom .title {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 13px;
}

.anywhere__bottom .form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anywhere__bottom .form__radio .label__radio {
  cursor: pointer;
}

.anywhere__bottom .form__radio .input__radio {
  display: none;
}

.anywhere__bottom .form__radio .tap__img {
  border-radius: 50%;
}

.anywhere__bottom .text {
  margin-top: 32px;
}

.device {
  height: 1332px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #EDEDED;
}

.device__content {
  max-width: 958px;
  position: absolute;
  top: 100px;
}

.device__content .text {
  margin-top: 35px;
  margin-bottom: 64px;
}

.device .device__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.device .device__menu .device__list {
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.device .device__menu .device__list:last-of-type {
  max-width: 145px;
}

.device__bg {
  margin-top: auto;
}

.settings {
  padding-top: 100px;
  padding-left: calc( 50% - 585px);
  padding-right: calc( 50% - 585px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EDEDED;
}

.settings .media__options, .settings .settings__switch {
  display: none;
}

.settings__heading {
  width: 866px;
}

.settings__heading .text {
  margin-top: 30px;
  margin-bottom: 52px;
}

.settings .popular__app {
  max-width: 749px;
  height: 196px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
  -webkit-transform: translateY(-71px);
          transform: translateY(-71px);
  color: #FFFFFF;
  background-color: #C4C4C4;
}

.settings .popular__app .app__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}

.settings .popular__app .text {
  margin-top: 25px;
}

.comfort-and-fast {
  padding-left: calc( 50% - 655px);
  padding-right: calc( 50% - 655px);
  padding-top: 100px;
  padding-bottom: 100px;
}

.comfort-and-fast__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comfort-and-fast__img {
  width: 50%;
}

.comfort-and-fast__heading {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 37px;
}

.comfort-and-fast__heading .title {
  width: 281px;
  margin-bottom: 28px;
}

.comfort-and-fast__heading .title, .comfort-and-fast__heading .text {
  text-align: left;
}

.comfort-and-fast .text {
  width: 400px;
}

.comfort-and-fast .comfort__right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.comfort-and-fast .comfort__right .comfort-and-fast__heading {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 31px;
}

.comfort-and-fast .comfort__right .title {
  width: 317px;
  margin-bottom: 34px;
}

.comfort-and-fast .comfort__right .title, .comfort-and-fast .comfort__right .text {
  text-align: right;
}

.footer {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 47px;
  color: #C7C8C8;
  background-color: #2F3132;
}

.footer .copyright {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (max-width: 1280px) {
  .top {
    padding-top: 0;
    padding-bottom: 56px;
  }
  .without__wires {
    padding-top: 45px;
    padding-bottom: 48px;
  }
  .anywhere {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .device {
    height: 1088px;
  }
  .settings {
    padding-top: 70px;
  }
  .comfort-and-fast {
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 894px) {
  .nav {
    height: auto;
    padding: 54px 58px 160px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #E0E1E2;
  }
  .nav .logo, .nav .nav__menu {
    display: none;
  }
  .nav .media__logo, .nav .nav__menu-box, .nav .transparent__box {
    display: block;
  }
  .nav .nav__menu-box {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .top .top__img .title {
    top: 0;
  }
  .top .text {
    margin-top: 120px;
  }
  .without__wires {
    padding: 80px 19px 0 39px;
  }
  .without__wires .without__wires-content .text {
    max-width: 655px;
  }
  .without__wires .without__wires-content .span__text, .without__wires .without__wires-content .span__text-style {
    font-size: 150px;
    line-height: 176px;
    padding-bottom: 0;
  }
  .without__wires .without__wires-content .mouse__img {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .without__wires .without__wires-content .mouse__img-left {
    display: none;
  }
  .without__wires .without__wires-content .mouse__img-left img {
    width: 836px;
  }
  .anywhere__up .text {
    max-width: 590px;
  }
  .device .device__content {
    max-width: 765px;
  }
  .device .device__menu .device__list {
    max-width: 274px;
  }
  .settings {
    padding: 70px 64px 80px;
  }
  .settings .settings__heading, .settings .popular__app {
    width: 100%;
  }
  .settings .options {
    display: none;
  }
  .settings .media__options, .settings .settings__switch {
    display: block;
  }
  .settings .popular__app {
    max-width: none;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .settings .settings__switch {
    margin-top: 53px;
    margin-bottom: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 25px;
  }
  .settings .settings__switch .settings__input {
    display: none;
  }
  .settings .settings__switch .settings__input:checked + .label__switcher {
    background-color: #2F3132;
  }
  .settings .settings__switch .label__switcher {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #C4C4C4;
  }
  .comfort-and-fast .comfort-and-fast__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__img {
    width: 100%;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__img .comfort__img {
    width: 100%;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__heading {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 70px 65px 50px;
  }
  .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__heading .title, .comfort-and-fast .comfort-and-fast__box .comfort-and-fast__heading .text {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 667px) {
  .device .device__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .device .device__menu {
    width: 225px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .device .device__menu svg {
    display: none;
  }
  .device .device__menu .device__list:not(:last-child) {
    margin-bottom: 16px;
  }
}
/*# sourceMappingURL=style.css.map */